@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

@font-face{
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.ttf') format('Truetype');
    font-weight: normal;
}




:root{
    
    
    --cor2:#0652ddff;
    --cor3:#007dfcff;

    --font-destaque:'Open Sans', sans-serif;
    --font-Poppins:'Poppins', cursive;

}

*{
    margin: 0px;
    padding: 0px;
}



header{
   height: 150px;
   background-color: #fff;
   padding: 10px;
  
}
   
header > h1{
    color: white;
    
}

header > p{
    color: white;
    font-family: var(--font-Poppins);
    font-weight: bold;

}

.inner-width{
    max-width: 1000px;
    padding: 0x 10px;
    margin: auto;
}

.logo img{
    height: 50px;
}



.navigation-menu{
    float: right;
    display: flex;
    align-items: center;
    
}

.navigation-menu a{
    color: black;
    text-transform: uppercase;
    font-size: 14px;
    padding: 10px;
    border-radius: 4px;
    transition: .3s linear;
    text-decoration: none;
}

.navigation-menu a:hover{
    background: var(--cor3);
    color: #2f3640;
    transform: scale(1.1);
}

.navigation-menu i{
    margin-right: 10px/*ou 15px*/;
    font-size: 16px;
}






.home{
    color: #0abde3;
}

.about{
    color: #0abde3;
}

.works{
    color: #0abde3;
}

.team{
    color: #0abde3;
}

.contact{
    color: #0abde3;
}



main{
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    
}

main > img{
    width: 100%;
    
}

main h1{
    margin: 15px 15px;
    font-family: var(--font-Poppins);
    font-weight: bold;
    text-align: center;
    /*padding: 25px 0px;*/
    padding-bottom: 50px;
}

main > h2{
    font-family:var(--font-Poppins);
    font-weight:bold;
    color:var(--cor3);
    margin: 15px 15px;
}

 main p{
   margin: 15px 15px;
    text-align: justify;
    line-height: 2em;
    font-size: 1em;
}

#p1{
    margin: 0px;
}

.planos{
    background-color: var(--cor3);
}

.pricing-table{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: min(1000px, 100%);
    margin: auto;
    
}

.pricing-card{
    flex: 1;
    max-width: 360px;
    background-color: #fff;
    margin: 20px 10px;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    color: #2d2d2d;
    transition: .3s linear;
}

.pricing-card-header{
    background-color: #0fbcf9;
    display: inline-block;
    color: #fff;
    padding: 12px 30px;
    border-radius: 0 0 20px 20px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    transition: .4s linear;
}

.pricing-card:hover .pricing-card-header{
    box-shadow: 0 0 0 36em #0fbcf9;
}

.price{
    font-size: 70px;
    color: #0fbcf9;
    margin: 40px 0;
    transition: .2s linear;
}

.price sup, .price span{
    font-size: 22px;
    font-weight: 700;
}

.pricing-card:hover ,.pricing-card:hover .price{
    color: #fff;
}

.pricing-card li{
    font-size: 16px;
    padding: 10px 0;
    text-transform: uppercase;
}

.order-btn{
    display: inline-block;
    margin-bottom: 40px;
    margin-top: 80px;
    border: 2px solid ;
    color: #0fbcf9;
    padding: 18px 40px;
    border-radius: 8px;
   text-transform: uppercase;
   font-weight: 500;
   transition: .3s linear;
   text-decoration: none;
}

.order-btn:hover{
    background-color: #0fbcf9;
    color: #fff;
}

@media screen and (max-width:1100px){
    .pricing-card{
        flex: 50%;
    }
}


footer{
    background: #f1f1f1;
    padding: 20px 0;
}

.footer-container{
    max-width: 1300px;
    margin: auto;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.logo{
    width: 180px;
}

.social-media{
    margin: 20px 0;
}

.social-media a{
    color: #001a21;
    margin-right: 25px;
    font-size: 22px;
    text-decoration: none;
   transition: .3s linear;
}

.social-media a:hover{
    color: #007dfcff;
}


